.products-row {

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 23px;
	@include _550 {
		padding-top: 75px;
		flex-direction: row;
	}
	
	@include _768 {
		padding-top: 100px;
	}
	
	@include _992 {
		padding-top: 141px;
	}

	// .products-row__col

	&__col {
		display: flex;
		flex-direction: column;

		&:not(:nth-child(2)) {
			margin-top: 71px;
			@include _550 {
				margin-top: 0;
			}
		}

		@include _550 {
			flex: 0 1 calc(50% - 30px);
		}

		@media (min-width: 1280px) {
			flex: 0 1 50%;
		}

		@media (min-width: #{$container}px) {
			flex: 0 1 46%;
		}

		&:nth-child(3) {
			
			@include _550 {
				flex: 0 1 calc(50% - 30px);
			}
			
			@media (min-width: 1280px) {
				padding-left: 15px;
				flex: 0 1 50%;
			}
			
			@media (min-width: #{$container}px) {
				flex: 0 1 43%;
				padding-left: 0;
			}
		}

		&:nth-child(3) {
			& .product__block {
				
				@media (min-width: 1280px) {
					grid-template-columns: 55% 45%;
				}
				@media (min-width: #{$container}px) {
					grid-template-columns: 58% 42%;
				}
			}
			& .product__image {
				
				@media (min-width: 1280px) {
					padding-left: 40px;
				}

				@media (min-width: #{$container}px) {
					padding-left: 45px;
				}
				padding-right: 0;
				
			}
			& .product__info {
				@include _992 {
					flex: 0 1 42%;
				}
				display: flex;
				padding-left: 0;
				@media (min-width: 1280px) {
					padding-left: 45px;
				}
				justify-content: flex-end;
			}
		}
	}

	// .products-row__item

	&__item {
		
	}
}

.product {

	flex: 1 1 auto;

	display: flex;
	flex-direction: column;

	// .product__title

	&__title {
		font-size: 1.375rem;
		letter-spacing: 0.0625rem;
		line-height: 116.666667%;
		color: var(--primary-color);
		font-weight: 700;
		text-align: center;

		@include _550 {
			font-size: 1.5rem;
		}
		
		@include _768 {
			font-size: 1.75rem;
		}
		
		@include _992 {
			font-size: 2.25rem;
			text-align: left;
		}
	}

	// .product__block

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include _992 {
			align-items: stretch;
		}

		padding-top: 50px;
		@media (min-width: 1280px) {
			display: grid;
			padding-top: 100px;
			grid-template-columns: 55% 45%;
		}

		flex: 1 1 auto;
	}

	// .product__image

	&__image {

		display: flex;

		max-width: 75%; width: 100%;

		@include _550 {
			max-width: none;
			
		}
		
		@media (min-width: 1280px) {
			width: auto;
			padding-right: 50px;
		}

		// .product__image--body

		&--body {
			flex: 1 1 auto; align-self: self-start;
			padding-top: 145%;
			position: relative;
			margin-top: 0px;
			filter: drop-shadow(-20px 20px 20px rgba(0, 0, 0, 0.45));
			@media (min-width: 450px) {
				filter: drop-shadow(-25px 30px 22px rgba(0, 0, 0, 0.45));
			}
			transition: filter .3s ease;

			& img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: contain;
				transition: transform .3s ease;
			}

			&:hover {
				filter: drop-shadow(-25px 35px 20px rgba(0, 0, 0, 0.25));
				@media (min-width: 450px) {
					filter: drop-shadow(-35px 40px 22px rgba(0, 0, 0, 0.25));
				}
			}

			&:hover img {
				transform: translate3d(0,-15px,0) scale3d(1.1,1.1,1);
			}
		}
	}

	// .product__info

	&__info {

		flex: 1 1 auto;
		width: 100%;
		
		@include _992 {
			width: auto;
			padding-left: 12px;
		}

		padding-top: 30px;

		@media (min-width: 1280px) {
			padding-top: 0;
		}

		display: flex;
		flex-direction: column;

		// .product__info--text

		&--text {
			flex: 1 1 auto;

			display: flex;
			flex-direction: column;
			justify-content: center;

			padding-left: 15px;

			line-height: 160%;
			font-size: 0.75rem;
			@include _550 {
				font-size: 1rem;
			}
			
			@include _768 {
				font-size: 1.125rem;
			}
			
			@include _992 {
				font-size: 1.25rem;
				padding-left: 0;
			}

			& h4 {
				text-transform: uppercase;
			}

			& ul {
				& li {
					display: flex;
				}
				& li::before {
					content: '•';
					@include _992 {
						content: '-';
					}
					margin-right: 5px;
				}
			}
		}

		// .product__info--price

		&--price {
		}
	}

	// .product__price

	&__price {
		align-self: self-end;
		display: flex;
		padding-bottom: 10px; padding-top: 30px;

		// .product__price--current

		&--current {
			color: var(--accent-2);
			padding-right: 18px;
			font-family: "Oswald", sans-serif;
			& b {
				font-size: 2.75rem;
				line-height: 125%;
				font-weight: 500;
				padding-right: 5px;

				@include _550 {
					font-size: 3rem;
				}
				
				@include _768 {
					font-size: 3.5rem;
				}
				
				@include _992 {
					font-size: 4rem;
				}
			}

			& span {
				font-size: 1.4375rem;
				@include _550 {
					font-size: 1.75rem;
				}
				
				@include _768 {
					font-size: 2rem;
				}
				
				@include _992 {
					font-size: 2.125rem;
				}
				line-height: 125%;
				font-weight: 300;
			}
		}

		// .product__price--old

		&--old {
			align-self: self-start;
			display: inline-block;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0; top: 50%;
				width: 100%; height: 2px;
				background: var(--accent-2);
				transform: translate(0,-50%) rotate(15deg);
				pointer-events: none;
			}
			text-decoration: none;
			font-family: "Oswald", sans-serif;
			color: var(--primary-color);
			& b {
				line-height: 125%;
				font-size: 1.3125rem;
				font-weight: 600;
				padding-right: 5px;
				
				@include _550 {
					font-size: 1.5rem;
				}
				
				@include _768 {
					font-size: 1.75rem;
				}
				
				@include _992 {
					font-size: 1.9375rem;
				}
			}
			& span {
				font-weight: 300;
				font-size: 0.75rem;
				@include _550 {
					font-size: 0.875rem;
				}
				
				@include _768 {
					font-size: 1rem;
				}
				
				@include _992 {
					font-size: 1.125rem;
				}
			}
		}
	}

	// .product__footer

	&__footer {

		padding-top: 30px;
		width: 100%;
		
		display: flex;
		justify-content: center;
		align-items: flex-end;
		@include _992 {
			padding-top: 50px;
		}
		
		@media (min-width: 1280px) {
			grid-column: 2 span;
			padding-top: 132px;
			justify-content: stretch;
		}
	}

	// .product__btn

	&__btn {
		max-width: 226px;
		@include _992 {
			max-width: 320px;
		}
		width: 100%;
	}
}
